body {
    margin: 0 0 50px 0;
    padding: 0px 0px;
}

.navbar-brand{
  font-size: 25px;
  font-style: italic;

}

p{
  text-align: left; 
}

.hero h1 {
  margin-top: 5px;
  color:white;
  font-size: 30px;
  animation: title 1.2s forwards linear;
}

marquee{
background-color: green;
}



strong{
    color: white 
}

h2{
  color: green;
  padding: 14px 0px;
  margin: 0px;
  text-align: left;
}

h4{
  font-weight: bold;
}

h6{
  color: green;
  padding: 0px 0px;
  margin: 0px;
  text-align: right;
}

#picture{
  color: black;
  font-weight: normal;
}

.credit{
  color: green
  padding-top: 2px;
  margin: 0px;
  text-align: right;
}

#top10{
  background-color: azure;
  size: 100%;
  align-content: center;
  border: black;
}

#Year{
  font-size: 10px;
}

#references{
  font-size: 2px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 40%; */
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
